@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100vh;
}

.project-description__paragraph {
  @apply mb-4;
}

.project-description__list {
  @apply list-disc ml-8;
}

.project-description__link {
  @apply mb-8 text-cyan-700 underline dark:text-cyan-500;
}

@layer components {
  .custom-react-select-container .custom-react-select__control {
    @apply bg-white dark:bg-slate-700 border-2 border-slate-300 dark:border-slate-700 hover:border-slate-200 dark:hover:border-slate-500;
  }

  .custom-react-select-container .custom-react-select__control--is-focused {
    @apply border-slate-200 hover:border-slate-200 dark:border-slate-400 dark:hover:border-slate-400 shadow-none;
  }

  .custom-react-select-container .custom-react-select__option--is-focused {
    @apply bg-slate-200 dark:bg-slate-800;
  }

  .custom-react-select-container .custom-react-select__menu {
    @apply bg-slate-100 dark:bg-slate-700 border-2 border-slate-300 dark:border-slate-600;
  }

  .custom-react-select-container .custom-react-select__option {
    @apply text-slate-600 dark:text-slate-200 bg-slate-100 hover:bg-slate-200 dark:bg-slate-700 dark:hover:bg-slate-800;
  }

  .custom-react-select-container .custom-react-select__option.custom-react-select__option--is-focused {
    @apply bg-slate-200 dark:bg-slate-800;
  }

  .custom-react-select-container .custom-react-select__indicator-separator {
    @apply bg-slate-400;
  }

  .custom-react-select-container .custom-react-select__input-container,
  .custom-react-select-container .custom-react-select__single-value {
    @apply text-slate-600 dark:text-slate-200;
  }

  .custom-react-select-container .custom-react-select__placeholder {
    @apply dark:text-slate-400
  }

  .custom-react-select-container .custom-react-select__multi-value {
    @apply dark:bg-slate-400 bg-slate-200;
  }

  .custom-react-select-container .custom-react-select__multi-value__label {
    @apply text-black dark:text-white;
  }

  .custom-react-select-container .custom-react-select__indicator {
    @apply text-black dark:text-white;
  }

  .custom-react-select-container .custom-react-select__indicator:hover {
    @apply text-slate-600 dark:text-slate-400;
  }

  .custom-react-select-container .custom-react-select__indicator:hover {
    @apply text-slate-600 dark:text-slate-400;
  }

  .custom-react-select-container .custom-react-select__multi-value__remove:hover {
    @apply bg-red-300;
  }
}

/* 
  make radix accordion wait for framer motion collapse animation
  to finish before setting accordion content height to 0
*/

.accordion-content[data-state='closed'] {
  animation: slideUp 0ms;
  animation-delay: 500ms;
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
